@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  h4 {
    @apply text-base md:text-lg;
  }

  pre {
    @apply rounded-2xl bg-neutral-800 p-4 text-neutral-100;
  }

  code {
    @apply text-xs md:text-sm;
    font-family: "JetBrains Mono", monospace;
  }

  .hljs {
    @apply bg-neutral-800;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  img {
    @apply rounded-2xl;
  }
}

