@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./buttons.scss";

:root {
  color-scheme: dark;
}

::selection {
  @apply bg-neutral-700 text-neutral-100;
}

body {
  @apply bg-neutral-900 bg-repeat text-neutral-100;
}

.background-grid {
  @apply fixed top-0 left-0 h-screen w-screen;
  @apply pointer-events-none z-[-1];

  background: url("/grid.png");
}

.stretch {
  display: inline-flex;
}

.stretch:hover {
  transform: scale(1.125, 1);
  @apply mx-4 transition-all duration-300;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

