@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./buttons.css");

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-900 bg-repeat text-neutral-100;

  background-image: url('/noise.png');
}

.background-grid {
  @apply h-screen w-screen absolute top-0 left-0;

  background: url('/grid.png');
}

