@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./buttons.css");

:root {
  color-scheme: dark;
}

::selection {
  @apply bg-neutral-700 text-neutral-100;
}

body {
  @apply bg-neutral-900 bg-repeat text-neutral-100;

  background-image: url("/noise.png");
}

.background-grid {
  @apply fixed top-0 left-0 h-screen w-screen;
  @apply pointer-events-none z-[-1];

  background: url("/grid.png");
}

.stretch {
  display: inline-flex;
}

.stretch:hover {
  transform: scale(1.125, 1);
  @apply mx-4 transition-all duration-300;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
}

h1 {
  @apply text-2xl md:text-3xl;
}

h2 {
  @apply text-xl md:text-2xl;
}

h3 {
  @apply text-lg md:text-xl;
}

h4 {
  @apply text-base md:text-lg;
}

pre {
  @apply rounded-2xl bg-neutral-800 p-6 text-neutral-100;
  font-family: "JetBrains Mono", monospace;
}

img {
  @apply rounded-2xl;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

